from . import BASE_DIR

DEBUG=True
SECRET_KEY='insecure_global_key'

SOCIAL_AUTH_ION_KEY = ''
SOCIAL_AUTH_ION_SECRET = ''
SOCIAL_AUTH_REDIRECT_IS_HTTPS = not DEBUG


if DEBUG:
    ALLOWED_HOSTS = ['localhost', '127.0.0.1']
else:
    ALLOWED_HOSTS = ['global.sites.tjhsst.edu']


# Database

if DEBUG:
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3',
            'NAME': BASE_DIR / 'db.sqlite3',
        }
    }
else:
    DATABASES = {
        "default": {
            "ENGINE": 'django.db.backends.postgresql_psycopg2',
            "NAME": '',
            "USER": '',
            "PASSWORD": '',
            "HOST": '',
            "PORT": '',
        }
    }

if DEBUG:
    AUTH_PASSWORD_VALIDATORS = []
    AUTHENTICATION_BACKENDS.append('django.contrib.auth.backends.ModelBackend')